# Ignore binary executable
memory_lab
app 
spws

# Ignore object files, libraries, and compiled binaries
*.o
*.out
*.exe
*.a
*.so

# Ignore core dumps
core
*.core

# Ignore GDB history files
.gdb_history

# Ignore temporary files
*~
*.swp
*.log

# Ignore build directories
/build/
/bin/
/obj/

.vscode/
